@import url(./footer.css);
@import url(./navbar.css);
@import url(./main.css);
@import url(./body.css);
@import url(./buttons.css);
@import url(./skills.css);
@import url(./projects.css);
@import url(./about.css);
@import url(./contact-me.css);

@media screen and (max-width: 667px) {

  .social-media-links a {
    justify-content: center;
    padding: 0px 10px;
  }

  .nav-bar {
    justify-content: center;
  }

  #main {
    text-align: center;
    padding: 0px;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .button-fill-left {
    width: 40vw;
  }

  .skills-box {
    flex-direction: column;
  }

  h5 {
    font-size: 2rem ;
  }

h3 {
  text-align: center;
}

.projects {
  align-items: center;
}

  /* .project1 .project2 .project3 .project4{
    display: block;
    align-items: center;
    text-align: center;
  }

  .tech-stach {
    text-align: center;
  }

  .image-container {
    display: inline-block;
  } */
}