header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition:all 0.3s ease;
}

.social-media-links a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 50px;
  color: #A1CAE2;
  transition:all 0.3s ease;
}

@-webkit-keyframes social-media-links {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}

@keyframes social-media-links {
  15% {
      -webkit-transform: translateY(5px);
      transform: translateY(5px);
  }
  30% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
  50% {
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
  }
  65% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
  }
  80% {
      -webkit-transform: translateY(2px);
      transform: translateY(2px);
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
}
.social-media-links a:hover
{
  -webkit-animation: social-media-links 1s ease;
  animation: social-media-links 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

